/* .card {
    margin-top: 20px;
}

#post {
    position: absolute;
    bottom: 50;
    right: 50;
}

h3 {
    padding: 10px;
}


.card {
    margin-top: 20px;
}

#post {
    position: absolute;
    bottom: 50;
    right: 50;
} */